body {
  width: 250px;
  height: 50px;
  background-color: #bb0000;
  /* ^ remove when more content is in here */
  font-family: "Impact", Impact, sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: white;
  position: relative;
  top: 60%;
  transform: translateY(-40%);
}
